body {
  margin: 0;
  background: #f4f4f4;
  font-family: Arial;
}

.navbar {
  background: black;
  padding: 15px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.search-bar {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.movie-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.details-page {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.load-more {
  padding: 10px 20px;
  margin: 20px auto;
  display: block;
  font-size: 16px;
}

/* Light Mode */
body[data-theme="light"] {
  background: #f4f4f4;
  color: black;
}

/* Dark Mode */
body[data-theme="dark"] {
  background: #121212;
  color: white;
}

.navbar {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: black;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.theme-btn {
  margin-left: auto;
  padding: 6px 12px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: white;
  color: black;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

body[data-theme="dark"] .movie-card {
  background: #1f1f1f;
  color: white;
}
